.button{
    position: fixed;
    bottom: 2.5rem;
    display: flex;
    background-color: red;
    padding: 1rem 2rem;
    color: white;
    border: none;
}

.buttonClicked{
    position: fixed;
    bottom: 2px;
    display: flex;
}
.buttonSection{
    width: 100vw;
    display: flex;
    justify-content: center;
}